@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim.ttf') format('truetype'),
    url('../fonts/Samim.eot') format('eot'),
    url('../fonts/Samim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*:before,
*:after {
    -o-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box
}
html{
    scroll-behavior: smooth;
    font-size: 14px;
}
body{
    font-family: Samim, sans-serif, monospace;
    font-size: 1em;
}
.cover > img {
    width: 100%;
    height: 100%;
}
.nav-item {
    margin-left: 1rem;
}


